<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Gestion de Malezas y Tratamientos</title>
<meta name="description" content="">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Icon -->
<!--  -->
<link rel="shortcut icon" href="images/icon.ico" />

<!-- Stylesheets placed first for inmediate expected visualization -->
<link rel="stylesheet" href="vendor/bootstrap/dist/css/bootstrap.css" />
<link href="styles/dashboard.css" rel="stylesheet">
<link rel="stylesheet" href="styles/main.css">
<link href="styles/login.css" rel="stylesheet">
<link
	href="vendor/angular-bootstrap-duallist/bootstrap-duallistbox.min.css"
	rel="stylesheet">
<link href="vendor/angular-ngtable/ng-table.css" rel="stylesheet">
<link href="vendor/angular-growl/angular-growl.css" rel="stylesheet">
<link href="vendor/angular-dialog-service/dialogs.css" rel="stylesheet">
<link href="vendor/leaflet-0.7.3/leaflet.css" rel="stylesheet">
<link href="vendor/angular-loading-bar/loading-bar.css" rel="stylesheet">
<!--  <link data-require="fancybox@2.1.4" data-semver="2.1.4" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.4/jquery.fancybox.css" /> -->
<!-- <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.css" /> -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">

<!-- endbuild -->
</head>
<body  ng-app="tip_eiroa_mauro_server_frontend"
	class="intelliAuth waiting-for-angular" ng-cloak>

	<div id="appContainer"  
	ng-controller="IndexCtrl" class="content-outer appContainer" style="display:none">
		<!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

		<!-- Content -->


		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation"
			id="navbar">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse"
						data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span> <span
							class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<!-- <a class="navbar-brand" href="#">Sistema de gestión</a> -->
					<a class="navbar-brand" href="#">{{ 'INDEX_APP_NAME' |
						translate }}</a>

				</div>

				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right ">
					<li title="Abrir ventana de descarga">
						<a href="https://community.testfairy.com/join/l4pHdVwG" target="_blank" >Download App</a>
					</li>
						
						<li class="dropdown"><a href="" data-toggle="dropdown"
							class="dropdown-toggle"
							title="{{ 'INDEX_SELECT_LANGUAGE' | translate}}">{{
								'INDEX_SELECT_LANGUAGE' | translate}}<b class="caret"></b>
						</a>
							<ul class="dropdown-menu">
								<li><a style="cursor: pointer;"
									ng-click="changeLanguage('es')">{{ 'INDEX_SELECT_SPANISH' |
										translate}}</a></li>
								<li><a style="cursor: pointer;"
									ng-click="changeLanguage('en')">{{ 'INDEX_SELECT_ENGLISH' |
										translate}}</a></li>
							</ul></li>

						<li class="dropdown" ng-hide="UserScope.inLogin"><a href=""
							data-toggle="dropdown" class="dropdown-toggle"
							title="{{ 'INDEX_SECTIONS' | translate}}">{{ 'INDEX_SECTIONS'
								| translate}}<b class="caret"></b>
						</a>
							<ul class="dropdown-menu">
								<li><a ng-href="#users" ng-show="true"
									ng-click="restrictedAction()">{{ 'INDEX_USERS' |
										translate}}</a></li>
								<li class="divider"></li>
								<li><a ng-href="#plant_species" ng-show="true"
									ng-click="restrictedAction()">{{ 'INDEX_PLANT_SPECIES' |
										translate}}</a></li>
								<li><a ng-href="#plague_species" ng-show="true"
									ng-click="restrictedAction()">{{ 'INDEX_PLAGUE_SPECIES' |
										translate}}</a></li>
								<li class="divider"></li>
								<li><a ng-href="#treatments" ng-show="true"
									ng-click="restrictedAction()">{{ 'INDEX_TREATMENTS' |
										translate}}</a></li>
							</ul>

						<li><a style="color: yellow; font-weight:bold" 
						ng-href="#samplesToResolve" ng-click="restrictedAction()" 
						tooltip-placement="bottom"
							tooltip="{{ 'FORM_OPEN' | translate}}">{{
								'INDEX_UNRESOLVED_SAMPLES' | translate}}</a></li>
						<li><a ng-href="#" ng-click="restrictedAction()"
							ng-hide="true">{{ 'INDEX_LOGIN' | translate}}</a></li>
						<li><b class="text"
							style="display: block; padding-top: 15px; color: white;">{{getUsuario()}}</b></li>

						<li class="divider"></li>
						<li><a href="#login" ng-click="logout()">{{
								'INDEX_LOG_OFF' | translate}}</a></li>


					</ul>


				</div>
			</div>
		</div>

		<div growl></div>



		<div class="container-fluid" id="main">
			<div class="row">
				<div class="col-sm-3 col-md-2 sidebar">

					<div style="margin-top: 30px;" class="list-group" ng-controller="IndexCtrl">
						<span ng-if="!UserScope.inLogin"class="glyphicon glyphicon-circle-arrow-left"
							style="font-size: 45px; cursor: pointer; padding: 5px;"
							tooltip-placement="right"
							tooltip="{{ 'INDEX_GO_BACK' | translate}}" ng-click="goBack()"></span>
							
						<a class="list-group-item"
							ng-class="{active:isActive('/samplesToResolve')}"
							ng-show="UserScope.inMainMenu" ng-href="#/samplesToResolve">
							{{'INDEX_UNRESOLVED_SAMPLES' | translate}}</a>
							
						<a class="list-group-item" ng-class="{active:isActive('/users')}"
							ng-show="UserScope.inMainMenu" ng-href="#/users">{{
							'INDEX_USERS' | translate}}</a> <a class="list-group-item"
							ng-show="UserScope.inMainMenu"
							ng-class="{active:isActive('/plant_species')}"
							ng-href="#/plant_species">{{ 'INDEX_PLANT_SPECIES' |
							translate}}</a> <a class="list-group-item"
							ng-show="UserScope.inMainMenu"
							ng-class="{active:isActive('/plague_species')}"
							ng-href="#/plague_species">{{ 'INDEX_PLAGUE_SPECIES' |
							translate}}</a> <a class="list-group-item"
							ng-class="{active:isActive('/treatments')}"
							ng-show="UserScope.inMainMenu" ng-href="#/treatments"> {{
							'INDEX_TREATMENTS' | translate}}</a>

<!-- 						<audio controls autoplay="autoplay" style="width: 210px; padding-top: 30px;"> -->
<!-- 							<source src="http://198.50.238.188:9330/;stream.mp3" -->
<!-- 								type="audio/mp3"> -->
<!-- 							Your browser does not support the audio element. -->
<!-- 						</audio> -->

					</div>
				</div>

				<!-- Content redirected from Angular, this may change along the different views -->
				<div ng-view=""></div>
			</div>
		</div>




		<div class="footer" id="footer"></div>

	</div>



	<!--[if lt IE 9]>
    <script src="vendor/es5-shim/es5-shim.js"></script>
    <script src="vendor/json3/lib/json3.min.js"></script>
    <![endif]-->


	<!-- Javascripst placed at the end for better user experience -->
	<script src="vendor/jquery/dist/jquery.js"></script>
	<script type="text/javascript">
		jQuery.event.props.push('dataTransfer');
	</script>
	<script src="vendor/angular-file-upload/FileAPI.min.js"></script>
	<script src="vendor/angular-file-upload/shiminhtml5.js"></script>
	<script data-require="angular.js@*" data-semver="1.2.0-rc3-nonmin" src="vendor/angular/angular.js"></script>
	<script src="vendor/ng-file-upload-3.3.1/angular-file-upload-shim.min.js"></script> 
    <script src="vendor/ng-file-upload-3.3.1/angular-file-upload.min.js"></script> 
	<script src="vendor/json3/lib/json3.js"></script>
	<script src="vendor/bootstrap/dist/js/bootstrap.js"></script>
	<script src="vendor/leaflet-0.7.3/leaflet.js"></script>
	<!-- 	<script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>  -->
	<script src="vendor/angular-resource/angular-resource.js"></script>
	<script src="vendor/angular-translate/angular-translate.min.js"></script>

	<!-- <script src="https://rawgithub.com/PascalPrecht/bower-angular-translate-loader-static-files/master/angular-translate-loader-static-files.js"></script> -->
	<script src="vendor/angular-translate/angular-translate-loader-static-files.min.js"></script>
    <script src="vendor/angular-loading-bar/loading-bar.js"></script>
	<script src="vendor/angular-cookies/angular-cookies.js"></script>
	<script src="vendor/angular-sanitize/angular-sanitize.js"></script>
	<script src="vendor/angular-animate/angular-animate.js"></script>
	<script src="vendor/angular-touch/angular-touch.js"></script>
	<script src="vendor/angular-route/angular-route.js"></script>
	<script src="vendor/angular-drag-and-drop/angular-dragdrop.min.js"></script>
	<script data-require="ng-table@*" data-semver="0.3.0"
		src="vendor/angular-ngtable/ng-table.js"></script>
	<script
		src="vendor/angular-bootstrap-duallist/angular-bootstrap-duallistbox.min.js"></script>
	<script
		src="vendor/angular-bootstrap-duallist/jquery.bootstrap-duallistbox.min.js"></script>
	<script src="vendor/ngStorage-master/ngStorage.js"></script>
	<script src="vendor/angular-local-storage/angular-local-storage.min.js"></script>
	<script src="vendor/checklist-model/checklist-model.js"></script>
	<script src="vendor/angular-growl/angular-growl.js"></script>
	<script
		src="vendor/angular-dialog-service/ui-bootstrap-tpls-0.11.0.min.js"></script>
	<script src="vendor/angular-dialog-service/dialogs.js"></script>
	<script
		src="vendor/angular-dialog-service/dialogs-default-translations.min.js"></script>


	<script
		src="vendor/angular-leaflet-directive/angular-leaflet-directive.js"></script>
	<script src="vendor/angular-base64-upload/angular-base64-upload.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
<!-- 	<script data-require="fancybox@2.1.4" data-semver="2.1.4" src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.4/jquery.fancybox.js"></script> -->
	





	<!-- Application scripts -->
	<!-- Warning, if you declared a non existant script, the whole application might fail -->
	<script src="scripts/env.js"></script>
	<script src="scripts/app.js"></script>
	<script src="scripts/services/rest.js"></script>
	<script src="scripts/services/rootServices.js"></script>
	
	<!-- Controllers -->
	<script src="scripts/controllers/helpers/combosHelper.js"></script>
	<script src="scripts/controllers/helpers/restHelper.js"></script>
	<script src="scripts/controllers/helpers/mediaHelper.js"></script>
	<script src="scripts/controllers/helpers/secHelper.js"></script>
	<script src="scripts/controllers/plant_species.js"></script>
	<script src="scripts/controllers/users.js"></script>
	<script src="scripts/controllers/treatments.js"></script>
	<script src="scripts/controllers/plague_species.js"></script>
	<script src="scripts/controllers/crudUser.js"></script>
	<script src="scripts/controllers/crudTreatment.js"></script>
	<script src="scripts/controllers/crudSpecie.js"></script>
	<script src="scripts/controllers/resolveSample.js"></script>
	<script src="scripts/controllers/inicio.js"></script>
	<script src="scripts/controllers/samples.js"></script>
	<script src="scripts/controllers/login.js"></script>
	<script src="scripts/controllers/samplesToResolve.js"></script>
	





</body>
</html>
